[2017-05-24 15:05] pavolloffay opened #3 "Automate test"
CI currently does not test anything. It only compiles and tests are done manually as part of the review.

Travis and CircleCi does not support running virtualization environments, therefore it's not possible to start minikube.

Some links:
* https://github.com/travis-ci/travis-ci/issues/1419
* https://stackoverflow.com/questions/31828555/using-vagrant-on-cloud-ci-services

[2017-06-08 21:57] bharat-p opened #4 "How can jaeger-client talk to agent running as Kubernetes service?"
Its more of a question than an issue. I am new to Kubernetes and trying to understand how does this deployment work? given the fact that "jaeger-client" expects agent to be running on localhost?

So if I have a web service running as a pod, how will jaeger client in that service will connect to jaeger agent running as part of `jaeger-all-in-one` service?

[2017-06-09 06:41] pavolloffay commented on #4
Agent does not have to run on the same pod. Host in the sender can be configured. Which client are you using?

In k8s you just point sender to `jaeger-all-in-one` or the name of the Jaeger service.

[2017-06-09 14:21] bharat-p commented on #4
Thank you for your reply @pavolloffay . I am using `jaeger-client-python` and it has agent endpoint address fixed to `localhost`. https://github.com/uber/jaeger-client-python/blob/master/jaeger_client/config.py#L298.
There was this PR opened: https://github.com/uber/jaeger-client-python/pull/49 to make agent host config configurable, but it was suggested that it might not be needed as it might wor

[2017-06-13 21:17] #4 closed

[2017-06-15 10:57] objectiser opened #5 "Rename service/deployment etc to remove 'all-in-one'"
The Service and Deployment metadata names are currently 'jaeger-all-in-one' and 'jaeger-all-in-one-agent'.

This means that when being used by an application, the application's configuration would need to use the 'all-in-one' to reference the target (e.g. agent). So when switching to a 'production' version of the jaeger deployment, the applications would need to be changed.

Wondering if it would

[2017-06-15 11:05] objectiser opened #6 "Documenting sender configuration"
When trying out the template with a simple example service, I needed to use the following config to get the service reporting spans to the server:

[code]

This example uses the [Jaeger TracerResolver](https://github.com/uber/jaeger-client-java/tree/master/jaeger-tracerresolver), but the tracer could be directly configured using the same information - the main issue was setting the UDP sender's ho

[2017-06-15 12:38] pavolloffay commented on #5
+1, I think we have already introduced this consistency in openshift repo. The same e2e tests should be run on development and production templates to verify this.

[2017-06-26 14:22] 23doors opened #7 "Production config"
Any plans to add production yamls similar to: https://github.com/jaegertracing/jaeger-openshift ? Currently all-in-one isn't really suitable for it.

[2017-06-26 14:31] jpkrohling commented on #7
Yes, I do have plans to do that, but I'm currently working on other tasks. It shouldn't be hard to adapt the OpenShift one to work for plain Kubernetes, though. Would be a nice contribution ;)

[2017-07-11 13:47] nlamirault opened #11 "[Cassandra] Docker image"
hi,
i would like to deply jaegertracing on a Kubernetes cluster using production YAML files, but i see that Cassandra image use is **jpkroehling/cassandra** and not the [official image](https://hub.docker.com/_/cassandra/).

It is possible to use the official image ?

[2017-07-11 13:56] pavolloffay commented on #11
cc @jpkrohling

[2017-07-12 08:54] pavolloffay commented on #7
closed via https://github.com/jaegertracing/jaeger-kubernetes/pull/8

[2017-07-12 08:54] #7 closed

[2017-07-12 08:56] pavolloffay commented on #5
fixed in https://github.com/jaegertracing/jaeger-kubernetes/pull/9/

[2017-07-12 08:56] #5 closed

[2017-07-12 12:10] pavolloffay opened #12 "Enable tests for production template"
Currently tests for production template are disabled because `kubernets-client` used in `arquillian-cube` does not support `StatefulSet`.

PR to k8s-client with `StatefulSet` has been merged https://github.com/fabric8io/kubernetes-client/pull/814. However, we need this change to land in arq-cube https://github.com/arquillian/arquillian-cube/issues/755.

[2017-07-14 13:11] #12 closed

[2017-07-14 13:26] pavolloffay opened #15 "Cassandra Replication factor"
The production template currently uses `MODE=test` which translates to
`replication="{'class': 'SimpleStrategy', 'replication_factor': '1'}"`.

We deploy c* StatefulSet with 3 nodes, does it mean that one row is stored only on one of these 3 c* nodes? So if one node goes down do we loose data? What should we use? Something like
` replication="{'class': 'NetworkTopologyStrategy', '$datacenter': '${

[2017-07-14 13:32] pavolloffay opened #16 "Enable dependency test for production template"
Currently dependency test for production template is disabled, because the endpoint returns 404, see https://github.com/jaegertracing/jaeger-openshift/issues/19 and https://github.com/jaegertracing/jaeger-openshift/issues/11

[2017-07-14 14:52] yurishkuro commented on #15
test mode has RF=1 so yes, you loose a node you loose data. Prod mode defines the correct replication strategy, RF=2 minimum (that's what we run in prod), but it only works when `#nodes >=RF`

[2017-07-14 14:57] pavolloffay commented on #15
thanks that is what I thought, so we have it wrong right now. Do you have any advice for the error I'm getting with local cassandra cluster? Maybe some configuration issue?

[2017-07-18 16:41] pavolloffay commented on #15
To document I solved my issue with `ccm`, `DATACENTER` should be equal to datacenter listed in `ccm node1 ring`

[2017-07-19 08:43] #15 closed

[2017-07-19 08:47] pavolloffay commented on #16
Actually, there should be just added a test which would ping dependency rest endpoint and the current test should be disabled because dependency links are currently not processed in prod deployment.

[2017-07-21 12:16] pavolloffay commented on #15
Other documentation: newer images require to set also `CASSANDRA_ENDPOINT_SNITCH` to `GossipingPropertyFileSnitch

[2017-07-21 14:02] #11 closed

[2017-07-27 02:18] yurishkuro opened #22 "Make integration test reusable"
I was looking at [BaseETest.java](https://github.com/jaegertracing/jaeger-kubernetes/blob/master/jaegertracing-kubernetes-deployment-itest/src/main/java/io/jaegertracing/kubernetes/deployment/BaseETest.java) in light of the docker-compose question https://github.com/uber/jaeger/issues/286.

It seems the test is a fairly generic end-to-end check of "is my Jaeger installation wired and working corre

[2017-07-27 06:37] pavolloffay commented on #22
What we can also do is to reuse that new compose file for xdock tests. Xdock compose file would just simply extend the default docke-compose deployment (e.g. `docker-compose up -f default-compose.yml -f xdock-compose.yml`) and add `crossdock`, `test_driver`and `xdock-lang`s.  This way we would not have to test that new compose file separately. We did very similar thing in hawkular-apm instrumentat

[2017-07-27 07:01] pavolloffay commented on #16
done in #19

[2017-07-27 07:01] #16 closed

[2017-07-27 14:32] yurishkuro opened #23 "Naming to support other backends"
The Elasticsearch backend is ready, I assume we'll eventually want to have templates for it as well. How should this affect the naming of directories and files in this repo?

[2017-07-27 14:54] pavolloffay commented on #23
First we have to split cassandra related stuff from jaeger deployment. Adding ES will probably require some changes to jaeger deployment (use some flag etc.). The problem is that K8s resource files do not support parameters, so we might use something like helm (I don't know yet).

In terms of storage templates maybe it would be if we could reuse ES deployment from k8s and just make sure that it wo

[2017-08-21 17:39] fandan-nyc opened #30 "need a docker image for jaeger-collector 0.6.0"
Hi there
i saw that both jaeger-collector and jaeger-query have released 0.6.0, which supports a small but critical feature -- supports username and password input when connecting to cassandra.
It seems that, the docker image only have 0.5.0.
I am wondering if it is possible to have image 0.6.0 published.
maybe we can contribute back by making the docker image for you guys ?

Best

Dan

[2017-08-21 17:46] #30 closed

[2017-09-06 14:43] nlamirault opened #32 "Reschedule `jaeger-cassandra-schema-job` upon failure"
I'm using the production YAML file to deploy Jager :

[code]

Any idea why i've got these errors ? Thanks.

[2017-09-06 14:54] jpkrohling commented on #32
TL;DR: For the first couple of minutes or so, it should be fine to have those errors. Kubernetes will eventually spin up new instances of the pods and it will eventually work.

Long version: When deploying everything, we can't[1] have an orderly deployment order. Basically, we need to deploy Cassandra, create the schema required by Jaeger, deploy the Collector and the Query services. What you are

[2017-09-06 14:55] jpkrohling commented on #32
By the way: if those won't go away after a few minutes, please do post the logs for the create-schema job:

[code]

[2017-09-06 14:55] jpkrohling commented on #32
By the way: if those won't go away after a few minutes, please do post the logs for the create-schema job:

[code]

[2017-09-06 15:02] nlamirault commented on #32
@jpkrohling ok thanks

[code]

I will wait a few minutes.

[2017-09-06 15:13] jpkrohling commented on #32
26 minutes is way too long already :) It looks like I'm wrong and Kubernetes won't reschedule a new run for the failed create-schema job. Could you try to remove it and deploy the services again? Something like:

[code]

(the last command should fail on all services except the create-schema job)

[2017-09-06 15:32] nlamirault commented on #32
Output :

[code]

[2017-09-06 15:49] jpkrohling commented on #32
Looks like your collector and query are now working.

The issue is then to make sure the create-schema job can be rescheduled upon failure.

[2017-09-13 14:16] Dieterbe opened #33 "cassandra nodes refuse to come up. Seed provider couldn't lookup host cassandra-0.cassandra.jaeger.svc.cluster.local"
when i try to use the production template, I always get this:
[code]

cassandra-0 logs
[code]
and starts up fine.

the other two log:
[code]

note that the statefulset defines:
[code]
i've tried some others like `cassandra-0` with same result.
I'll try some more.
i'm pretty sure at one point i was able to exec into one of the other containers before it shut down, and a ping to cassandra-0.cassandr

[2017-09-13 14:17] Dieterbe commented on #33
interestingly, this used to work at some point. i wonder if it's due to our k8s being upgraded recently. (we're now on v1.6.9)

[2017-09-18 09:47] Dieterbe commented on #33
this could have been caused by me changing the clusterIP setting to get an ip, instead of leaving it as `None`.  per the docs - https://kubernetes.io/docs/concepts/workloads/controllers/statefulset/ - a headless service is required, so this looks like PEBKAC

[2017-09-18 09:47] #33 closed

[2017-09-22 07:30] jukylin opened #34 "failed to "StartContainer" for "cassandra" with CrashLoopBackOff"
Hi, I deploy Jager via

and get errors :

![alt](https://upload.cc/i/5Vh9OT.png)

I use k8s in Mac.

Why I've got these errors? Thinks!

[2017-09-22 08:38] jpkrohling commented on #34
It is expected to have the collector/query pods fail for a few minutes on a "cold" deployment, as they both depend on the Cassandra cluster to be healthy and the schema job to be successful. It looks like your schema job has not finished yet (`Running` vs. `Completed`), so, that explains why the query/collector aren't in `Running` state yet.

Kubernetes will reschedule the pods and they will event

[2017-09-22 09:06] jukylin commented on #34
Yes ,23 minutes.

![alt](https://upload.cc/i/r0FeU3.png)

another once I saw all in error

[2017-09-22 09:11] jpkrohling commented on #34
Could you try the procedure I mentioned on https://github.com/jaegertracing/jaeger-kubernetes/issues/32#issuecomment-327515820 ? If it works, then it's the same problem as reported on #32

[2017-09-22 10:04] jukylin commented on #34
Mybe Cassandra is not working.

[code]

The command (`kubectl logs job/jaeger-cassandra-schema-job`) not work
[code]

[2017-09-22 10:34] jpkrohling commented on #34
The first is "expected", if it's about the same issue as #32 , but to confirm, could you run the following commands:

[code]

[2017-09-26 15:04] Dieterbe opened #35 "Exception (org.apache.cassandra.io.FSReadError) encountered during startup: java.io.EOFException"
Hello folks,
I know this is not really a jaeger question per se, but i have a problem sometimes with cassandra when i deploy the production template from this repo, maybe someone knows an answer.

basically typically the whole jaeger setup (incl cassandra) runs fine for a while, and then suddenly the cassandra container starts crashlooping with this error:
[code]

it seems to be preceeded by:
[cod

[2017-09-26 15:16] jpkrohling commented on #35
@burmanm , have you seen this before?

[2017-09-26 18:25] burmanm commented on #35
@Dieterbe Can you give some details of the file? Or even the whole file? How many nodes do you have deployed in this case and what happens to them to while hints file is being generated?

The preceding error does not seem to be related at all.

[2017-09-27 07:18] burmanm commented on #35
I'll fix my comment slightly, the preceding error is not directly related to hints file (two quite different things), but obviously both are showing errors in the I/O. That is, both are unable to read the first byte of a file from the disk. Probably more likely the environment than Cassandra bug.

[2017-09-27 16:03] pavolloffay opened #36 "Job or CronJob for spark-dependencies"
Create a job or cronJob for https://github.com/jaegertracing/spark-dependencies.

[2017-09-27 16:14] objectiser commented on #36
What is the difference? Pros/Cons?

[2017-09-27 16:30] pavolloffay commented on #36
I don't know. But I have two requirements:
* be able to run the job immediately with just `kubectl -f`
* be able to schedule that job like a cron

[2017-09-27 16:38] jpkrohling commented on #36
You either run it immediately (job), or you run it scheduled (cron job). You can't have both, AFAIK :)

Reference:
https://kubernetes.io/docs/concepts/workloads/controllers/cron-jobs/
https://kubernetes.io/docs/concepts/workloads/controllers/jobs-run-to-completion

[2017-10-03 12:47] pavolloffay commented on #36
I am working on this.

I think we should go with cron job. For demo purposes scheduled time could be changed.

[2017-10-03 13:14] pavolloffay commented on #36
For demos the following command can be used:

[code]

It will create links for the current day.

`--schedule="55 23 * * *"`  can be used to schedule it. It actually creates `CronJob` object.

I am wondering whether we want to create a template for `CronJob` or just add commands to the readme.

[2017-10-03 13:19] objectiser commented on #36
If the templates are going to become storage specific (for production) then might be worth just including it in the main template rather than having it on its own?
It then provides complete functionality in a single template - but depends if some users don't want it.

[2017-10-03 13:29] pavolloffay commented on #36
They could delete it after creating all objects, although a little bit inconvenient.

`CronJob` template is storage specific, although storage can be configured as env var. (I don't want to copy it for all backends.)

So we have 3 options:
* readme
* separate resource file
* include it directly in prod template

I think my preference would be readme or directly in prod template (if we will have a

[2017-10-03 13:46] black-adder opened #40 "Create CronJob for elastic search index deletion script"
ES doesn't have a built in TTL so it might be useful to have a configurable cronjob that allows users to set their own TTL.

https://github.com/jaegertracing/jaeger/blob/master/plugin/storage/es/es_indices_clean.sh

Use the CronJob that comes out of https://github.com/jaegertracing/jaeger-kubernetes/issues/36 for guidance

[2017-10-04 13:40] heppu commented on #32
I had the same problem but deleting and recreating the job fixed it.

[2017-10-04 14:37] jpkrohling commented on #32
![](https://github.trello.services/images/mini-trello-icon.png) [Reschedule `jaeger-cassandra-schema-job` upon failure](https://trello.com/c/nUDIVIIf/79-reschedule-jaeger-cassandra-schema-job-upon-failure)

[2017-10-06 14:06] #32 closed

[2017-10-06 14:07] jpkrohling opened #44 "Investigate and fix Elasticsearch test failures"
See #43 : although the PR had nothing to do with ES, the tests were not passing. The tests are probably failing intermittently and need to be fixed.

[2017-10-06 14:35] pavolloffay commented on #44
This https://travis-ci.org/jaegertracing/jaeger-kubernetes/builds/284229897?utm_source=github_status&utm_medium=notification failed also.

[2017-10-09 09:30] jpkrohling commented on #32
@heppu , @nlamirault , would you be able to give the fix a try and confirm it works?

[2017-10-09 16:16] #36 closed

[2017-10-11 08:16] rifqifatih opened #47 "Production setup with Elasticsearch points to the wrong file on README.md"
On Elasticsearch setup `kubectl create -f` points to
[code]

It should be
[code]

[2017-10-11 08:38] pavolloffay commented on #47
Hi @rifqifatih thanks for reporting. I have submitted a fix #48

[2017-10-11 09:06] #47 closed

[2017-10-17 10:22] pavolloffay commented on #44
#50 fixed some issues, but ES tests are still not stable. Locally they pass always so the problem is with travis environment.

[2017-10-18 12:23] afoninsky opened #51 "Error while connecting to external elasticsearch instance"
I'm getting `"msg":"Failed to init storage builder","error":"health check timeout: no Elasticsearch node available` message when I'm trying to connect to external elasticsearch instance. Database exists.

[code]

deployment.yml:
[code]

Full error output is:
[code]

[2017-10-19 09:46] pavolloffay commented on #51
@afoninsky hi, did you manage to resolve this?

Are you using any open-source project to deploy ES?

[2017-10-19 10:04] afoninsky commented on #51
@pavolloffay not yet

I'm using custom config files to deploy ES into kubernetes cluster. Deployment is similar to https://github.com/kubernetes-spb/charts/tree/master/elasticsearch-cluster/templates

[2017-10-20 04:29] fatg1988 opened #52 "Could not find aggregation of distinct_services"
how can i do ~~~~
deploy jaeger-production-template-with-elasticsearch.yml
k8s version 1.6.4

jaeger-query
curl 10.254.100.41/api/services
{"data":null,"total":0,"limit":0,"offset":0,"errors":[{"code":500,"msg":"Could not find aggregation of distinct_services"}]}

jaeger-collector logs
` {"level":"info","ts":1508414827.1502573,"caller":"healthcheck/handler.go:46","msg":"Health Check server started

[2017-10-20 06:58] pavolloffay commented on #52
@fatg1988 hi,

try to report some data to the server. The error message should disappear then.

I think it's this issue https://github.com/jaegertracing/jaeger/issues/464

[2017-10-20 11:57] fatg1988 commented on #52
how to report data?
i visit my svc  my-nginx several times , but not work.

![default](https://user-images.githubusercontent.com/3365952/31819733-7e75d8a0-b5d0-11e7-9a1d-9a16564885f3.png)

` 172.254.91.1 - - [20/Oct/2017:11:32:00 +0000] "GET /nginx/index.html HTTP/1.1" 404 169 "-" "Mozilla/5.0 (Macintosh; Intel Mac OS X 10.12; rv:56.0) Gecko/20100101 Firefox/56.0" "10.236.65.75"
172.254.91.1 - - [

[2017-10-25 09:46] jpkrohling opened #54 "Reorganize templates"
The current organization of the templates has become confusing (`production` vs. `production-elasticsearch`, for instance).

A recommendation is the following:

[code]

Of  course, the tests have to be adjusted for this.

[2017-10-25 09:49] jpkrohling commented on #54
@pavolloffay what do you think?

[2017-10-25 10:48] pavolloffay commented on #54
Proposed structure looks good. The names should contain jaeger prefix eg. `jaeger-production.yml`.

Currently, It's also odd that we add `-template` suffix. It should be removed.

[2017-10-25 10:50] pavolloffay commented on #35
@Dieterbe did you manage to solve it? I will close it per @burmanm response. Feel free to re-open.

[2017-10-25 10:50] #35 closed

[2017-10-25 10:51] pavolloffay commented on #23
Related to #54

[2017-10-25 10:52] pavolloffay commented on #6
+1 we could add a section in the readme how to configure HTTP/UDP senders when using this templates

[2017-10-25 10:56] pavolloffay commented on #54
This might be tricky task, it requires some arquillian skills to use different `arquillian.xml` in the same maven module. This will also affect travis build as we are using travis stages per storage.

[2017-10-25 13:12] jpkrohling commented on #34
If this is still happening, please reopen.

[2017-10-25 13:12] #34 closed

[2017-10-25 17:14] Dieterbe commented on #35
thanks for the help guys. incidentally we're in the process of moving our jaeger stack to a different cloud hosting provider, maybe that will stop this from happening.

(for the record, i don't have the file anymore, we have 3 nodes as per the standard production template from this repo that we use, and not sure what happened to them while hints file is being generated)

[2017-10-26 18:47] yurishkuro opened #55 "Mention Helm support in README"
https://github.com/kubernetes/charts/tree/master/incubator/jaeger

[2017-10-27 12:39] jpkrohling commented on #55
I love that helm template and I've been playing with it for a couple days now. @dvonthenen mentioned that he's almost ready with the Elasticsearch changes, so, it will be on par with this repository.

I'd just like to make sure we mention that the two options are not "the same thing", at least not yet.

[2017-11-02 17:41] dvonthenen commented on #55
The PR has been merged. Will have the update to the Jaeger chart to support ES as a backend.

[2017-11-06 16:53] dvonthenen commented on #55
Running into issues with the ES chart. The client nodes seem to be failing due to health check issues. I have reached out to the chart maintainers for help.

[2017-11-06 18:05] freelinuxer opened #56 "READ.md needs to be update in #production-setup section."
After commit f930d0ab75bd042bdcc539acefd81f7fc9992016 (Split backing storage from the main templates.) change, README.md seems to be outdated.

In READ.md, #production-setup section needs to be updated as following.

## Production setup
This template deploys the Collector, Query Service (with UI) and Cassandra storage (StatefulSet) as separate individually scalable services.

[code]
[code]

Or you

[2017-11-07 02:54] bigwhite commented on #32
I have met the same problem. The version of jaeger I use is below:
[code]
default                    jaeger-collector-216026522-v49hz       0/1       CrashLoopBackOff   4          2m        10.46.0.8      ubuntu-k8s-3
default                    jaeger-query-2386461091-wsh3g          0/1       CrashLoopBackOff   4          2m        10.46.0.9      ubuntu-k8s-3
[code]
root@ubuntu-k8s-3:~# docker log

[2017-11-07 08:54] jpkrohling commented on #32
The latest template should deploy a `create-schema` job that will reschedule itself upon failure. Could you please confirm you are using a version with this fix? You can get the job's JSON/YAML representation by running something like this:

    $ kubectl get job jaeger-cassandra-schema-job -o yaml

Make sure the `restartPolicy` is set to `OnFailure`. If this is already the case, then I would need

[2017-11-07 12:21] #56 closed

[2017-11-07 21:27] dvonthenen commented on #55
I have a PR open for supporting using an external Cassandra or ElasticSearch backing store. https://github.com/kubernetes/charts/pull/2684

[2017-11-08 06:45] bigwhite commented on #32
@jpkrohling

 The jaeger-cassandra-schema-job info is below:

[code]

[2017-11-09 08:22] joway commented on #52
+1

@pavolloffay Do you have any update about this bug ?

[2017-11-28 22:04] astub opened #59 "Agent sidecar resources defined in README."
Not really sure how much resources a sidecar needs. Is 128Mi too much?
[code]

[2017-12-01 10:54] pavolloffay commented on #52
Closing it's been fixed in jaeger.

[2017-12-01 10:54] #52 closed

[2017-12-08 01:11] xiaosefengyun opened #60 "Stand-alone Agent sidecar by NodePort"
I want to expose the agent port, so that other external applications can access and write jaegertracing log, can?

[2017-12-11 17:52] kumarganesh2814 commented on #33
@Dieterbe

Hi

I am also trying to deploy casandra cluster on my kube cluster running on centos VM with 2 worker and 1 master

But always second need keep failing with below error any idea

``WARN  17:50:21 No host ID found, created 7ffe85b4-eef6-4274-9461-821d538c1181 (Note: This should happen exactly once per node).
Exception (java.lang.RuntimeException) encountered during startup: Unable to gos

[2017-12-15 17:41] pavolloffay commented on #60
hi @xiaosefengyun, we currently do not provide resource files for this configuration, agent should be deployed as a sidecar in each pod.

In the git history you can find that we were deploying agent as `DaemonSet` so the same address could be used to configure sender.
https://github.com/jaegertracing/jaeger-kubernetes/blob/b0b6ef2f941847f1dbfc7cf9b42d5ac9260d30b7/production/jaeger-production-templ

[2018-01-08 16:21] objectiser opened #61 "Use SPAN_STORAGE env var instead of deprecated command line option"
See https://github.com/jaegertracing/jaeger/pull/625#issuecomment-355851142

[2018-01-08 21:30] zsais commented on #51
Hello @afoninsky, were you able to resolve this issue?

[2018-01-10 05:50] afoninsky commented on #51
Didn't watch it yet actually. Trace persistence is background task in my current workflow, sorry :(

[2018-01-10 05:52] afoninsky commented on #51
I'll close this issue (dunno may be it's already fixed or it's my local trouble). Feel free to reopen or create similar in case of same problem :)

[2018-01-10 05:52] #51 closed

[2018-01-12 13:46] #61 closed

[2018-01-12 15:50] objectiser opened #66 "Intermittent ES failure with NPE"
As can be scene [here](https://travis-ci.org/jaegertracing/jaeger-kubernetes/jobs/328164324).

[code]

[2018-01-12 15:51] objectiser commented on #55
Closed by #65

[2018-01-12 15:51] #55 closed

[2018-01-26 16:00] jtslear commented on #51
I ran into this exact error today.  In your post it looks like you are pulling in `latest`.  I was running into this while pulling version `1.0.0`.  After upgrading to version `1.1.0` this error magically went away.  The `latest` tag is 3 days old at the time of this writing, while version `1.1.0` is 22 days old.  Perhaps something was wrong with whatever version you were using at the time?

[2018-01-29 10:34] pavolloffay commented on #66
This seems to be duplicate of https://github.com/jaegertracing/jaeger-kubernetes/issues/44. Please reopen if it's not the case.

[2018-01-29 10:34] #66 closed

[2018-01-29 10:34] pavolloffay commented on #23
I will close this in favour of #54

[2018-01-29 10:34] #23 closed

[2018-01-29 10:38] pavolloffay opened #67 "Split configmap templates to separate files"
Config map templates contains storage definitions. If people are using external storages - we even encourage to do so then templates cannot be used without commenting out storage definitions.

[2018-02-06 08:52] #67 closed

[2018-03-09 01:10] ericzji opened #73 "Jaeger POD going up and down"
As part of deploying [ OpenTracing Prometheus Examples](https://github.com/objectiser/opentracing-prometheus-example), I installed the Jaeger OpenTracing tracing system:
[code]
Once the pods are all started, Jaeger is going up and down:
[code]

thanks

[2018-03-09 11:01] objectiser commented on #73
Hi @ericzji - from the pod info you provided it looks like the ordermgr and accountmgr are the pods that are continuously restarting - the jaeger-deployment seems stable.

Sorry I didn't spot this when you originally reported the problem [here](https://github.com/objectiser/opentracing-prometheus-example/issues/42).

Could you provide the logs for one of the ordermgr or accountmgr pods so we can s

[2018-03-13 16:59] tejaswiniVadlamudi opened #74 "Use DaemonSet by default instead of sidecar"
Hello,

Just curious to know the reasons & advantages of using Jaeger agent as a side car instead Daemon set.

Many Thanks,
Teja

[2018-03-13 19:39] ledor473 commented on #74
It's important to note that using a Service with a DaemonSet does not send the traffic only to the local Pod:

[Reference](https://kubernetes.io/docs/concepts/workloads/controllers/daemonset/#communicating-with-daemon-pods)

Considering the Jaeger Agent receives UDP traffic, it's important to consider that and use the NodeIP and a known NodePort.
Something like what is [described here](https://bra

[2018-03-13 20:01] yurishkuro commented on #74
Why mix Service and DaemonSet? Can't the latter be defined without being a Service?

[2018-03-13 20:44] ledor473 commented on #74
Yes DaemonSet can (and should in this case) be used without a Service!

I'm just pointing out that the client library cannot send the traces to the Jaeger Agent using `localhost`. Each Pods spec needs to contain something like this:
[code]

One could easily be tempted to create a Service over the DaemonSet to have a consistent name like `jaeger-agent.svc.cluster.local` but that would result in sen

[2018-03-13 20:49] yurishkuro commented on #74
we should probably have docs pointing this out. E.g. this repo is for k8s templates for running Jaeger itself, but we could also have a section on setup of the applications.

[2018-03-14 08:40] tejaswiniVadlamudi commented on #74
I belive its clear that we send UDP packet over network if we deploy "Jaeger Agent" as a daemonset. But at same time if we deploy it as a sidecar, we need to think about Compute Resources & cost affected based on this kind of implementation. Even now, I am not clear about correct approach apparently. We have a plan to use Jaeger on K8s, we would really appreciate if you guys can come up with final

[2018-03-14 12:03] pavolloffay commented on #74
One reason to use sidecar might be scaling. I am not sure if deamonset can scale up pods.

[2018-03-14 14:13] yurishkuro commented on #74
I cannot give an authoritative advice for kubernetes because we don't use it at Uber. We designed the agent to be run as a daemon (one per physical host). It was not meant to be run as a side car (one per pod), because there are no perf benefits to it (apparently there's a config benefit on k8s), but there are downsides, such as exploding the number of connections to collectors.

[2018-03-14 14:15] pieterlange commented on #74
The solution proposed by @ledor473 looks good (workaround for not being able to reach `localhost` from kubernetes pods)

[2018-03-14 15:11] tejaswiniVadlamudi commented on #74
Hi, it would not be good idea to scale daemonset on K8s. Do we really need to scale agent on a Node?

I believe if it is daemon set, every application running on that Node can use it. Only problem is "if we have a single daemon set, does it have any bandwidth overhead/performance impacts and also configuration impacts(This is really important when we have plenty of Apps which need different config

[2018-03-14 15:12] ledor473 commented on #74
@tejaswiniVadlamudi To be clear, I don't think either solution are *bad*.

They both need a change to each and every Deployment to be working correctly (but it could be fixed by an Admission Controller):
- Sidecar: all Deployment need the Jaeger Agent container
- DaemonSet: all Deployment need the proper environment variable to keep UDP from going to a different node (could result in broken traces

[2018-03-14 15:13] tejaswiniVadlamudi commented on #74
Also @pieterlange  Is there any proposal document from your side to deploy agent as a sidecar?
It would be good to have that in place.

[2018-03-15 07:04] jpkrohling commented on #74
The reasoning for this change was explained here:

https://medium.com/jaegertracing/deployment-strategies-for-the-jaeger-agent-1d6f91796d09

Basically, both scenarios (DaemonSet, SideCar) are supported, it only depends on what your requirements are. If you have a multi tenant setup, for instance, you might want to have each pod to have its agent, so that each agent knows where to send the collecte

[2018-03-15 13:20] yurishkuro commented on #74
@jpkrohling wouldn't you agree that the prevailing use case for most orgs is a single tenancy deployment? I think the templates should reflect that. Ideally the template would be parameterized to support both the daemon set and the side car deployments, defaulting to the former.

It's also worth mentioning that for multi-tenant deployments the side car approach is not the golden solution either, m

[2018-03-15 13:35] pieterlange commented on #74
I think the default usecase will be single-tenant clusters.. the sidecar scenario is fine too but should probably be configured using pod presets (https://kubernetes.io/docs/concepts/workloads/pods/podpreset/) so users don't have to modify their deployments.

[2018-03-16 00:41] jpkrohling commented on #74
I sincerely do not know what would be the most common case. Based on my experience with OpenShift, I have guessed that multiple Jaeger installations would exist under the same Kubernetes cluster, but if one installation is the common scenario, I have no problems at all changing the template.

I have added this to my queue and will be working on it soon!

Thanks for the tip about pod presets. I was

[2018-03-16 11:54] jpkrohling commented on #74
@pieterlange : would you be willing to contribute with a `PodPreset` PR for our Kubernetes templates? I have some questions about it, which you might already know the answer, so, it's probably easier/faster for you to come up with a great solution.

For instance: I have read the doc about `PodPreset` and it looks like it decorates the target pod based on labels. This means that the deployment woul

[2018-03-16 12:43] pieterlange commented on #74
I'm not using jaeger yet, but when i do i'll make a pull request to cover multiple usecases. (Daemonset, pod preset, ??)

[2018-03-16 12:48] jpkrohling commented on #74
I'm working on the `DaemonSet` right now, so, that part should be covered. I'd appreciate a review though, if you'd be up to :)

[2018-03-20 07:45] jpkrohling commented on #74
@pieterlange, could you test/review this PR: https://github.com/jaegertracing/jaeger-kubernetes/pull/75 ?

[2018-03-20 10:01] pieterlange commented on #74
Sure.

[2018-03-22 16:09] jpkrohling opened #80 "DaemonSet for all-in-one"
During the review of #75, it has been suggested that the all-in-one template could also be deployed as a `DaemonSet`. As this is "all-in-one", it would require the single pod to run as `DaemonSet`.

This issue is to gather thoughts and suggestions.

cc @pavolloffay, @pieterlange, @ledor473

[2018-03-22 16:09] #74 closed

[2018-03-22 16:10] jpkrohling commented on #73
As we haven't heard back in about 2 weeks, I'm closing this issue. If this is still a problem, feel free to reopen.

[2018-03-22 16:10] #73 closed

[2018-03-22 16:11] jpkrohling commented on #60
As we haven't heard back in a while, I'm closing this issue.

[2018-03-22 16:11] #60 closed

[2018-03-22 16:12] jpkrohling commented on #44
I'm closing this one, as I haven't seen these intermittent failures in a while. Please, reopen if this is still relevant.

[2018-03-22 16:15] jpkrohling commented on #59
Sorry I haven't seen this before. The agent itself needs only a few resources, but I don't think we tested the limits yet. My initial reaction, however, would be that 128mb should be enough to keep a reasonably sized buffer.

@kevinearls, would be nice to test the limits of this :)

[2018-03-22 16:15] #59 closed

[2018-03-22 16:35] pavolloffay commented on #80
The reason I asked for this is to simplify migration from all-in-one to production deployment.

[2018-03-26 13:54] maxkondr opened #81 "Can't run jaeger-query behind ingress"
Hi,
I am trying to setup jaeger accordingly to https://github.com/jaegertracing/jaeger-kubernetes and using Ingress resource for accessing Jaeger UI. But I see some issues with UI, in particular - incorrect urls for .js|.css file requests. I tried to set `query.prefix` option in config for this purpose but it is ignored.

Config:
[code]
The ingress resource looks like:
[code]

But the urls look li

[2018-03-26 14:05] yurishkuro commented on #81
The prefix switch only controls the API location, the UI still has to run at /

We'll be doing a new release this week that includes support for running under custom roots.

[2018-03-26 14:08] maxkondr commented on #81
great! waiting for new one :)

[2018-03-27 08:24] maxkondr commented on #81
I have just tried to use jaegertracing/jaeger-query:latest docker image and set base-path config option for query component. It seems this option works but there is error in browser console:

[code]

Browser: Chrome 63.0 Linux

[2018-03-27 15:13] yurishkuro commented on #81
@maxkondr is this when loading the home page or some other view?

When I run the code locally from master I am not getting any errors

`$ go run ./cmd/standalone/main.go --span-storage.type memory --query.base-path /jaeger`

cc @tiffon

[2018-03-27 19:03] tiffon commented on #81
@maxkondr I ran the latest query service in isolation via the following command:

[code]

And was able to visit `http://localhost:16686/jaeger` without issue. The assets were loaded with the `/jaeger` prefix and the data calls had the `/jaeger/api` prefix and returned JSON data (albeit empty) as expected.

The error you're seeing suggests the query-service is not recognizing the prefix and is serv

[2018-03-28 07:53] maxkondr commented on #81
@yurishkuro @tiffon
Sorry for lack of info.

The error appears when I try to open home page (and the same for /search). Today I have tried to use 1.3 docker image but with no luck.
My configuration looks like
[code]

Deployment:
[code]
Service:
[code]

Ingress:
[code]

The HTML on home page starts with:
[code]

Logs:
[code]

If I run locally
[code]
everything works fine

[2018-03-28 08:16] maxkondr commented on #81
Seems I have found the root of the issue. I have removed next annotation from ingress:
[code]

and now it works. thanks for help.
you may close the TT.

[2018-03-28 08:29] maxkondr opened #82 "Authorized access to UI"
Hello,

I haven't found any option related to authorization. Is it possible to protect access to UI with login/passwd?
Depending on application it is possible that some sensitive data can be dumped into spans and it is strictly desirable to protect such data.

[2018-03-28 08:59] jpkrohling commented on #82
There were some discussions around this in the past and the current consensus is that this is better handled via a sidecar. The general approach with a concrete example was the target of a blog post[1], and I do have a task in my queue to check if it's still up to date.

If you think the sidecar approach is not appropriate, please do check the mailing list threads on this topic and feel free to st

[2018-03-28 08:59] #82 closed

[2018-03-28 14:10] #81 closed

[2018-04-28 09:15] chalvern opened #84 "Elasticsearch in production always Back-off restarting failed container"
## elasticsearch version:
docker.elastic.co/elasticsearch/elasticsearch:5.6.0

## k8s cluster version
1.10

### describe

[code]

## log
[code]

[2018-05-02 12:53] pavolloffay commented on #84
@chalvern hi, did you manage to solve it? As there are no log's it's hard to find out what caused the issue.

[2018-05-03 09:02] Disturbing opened #85 "Production template isolated to namespace only"
Hello!

How can I setup Jaeger to only see traces within a single namespace versus querying the entire thing in kubernetes?

The best case would be if there was a single jaeger + elastic search setup that handles all namespaces, but I can deploy a JaegerUI that only filters a single namespace?

Use case is to deploy jaeger multiple times to have dedicated instances to see services in namespace A a

[2018-05-03 09:28] pavolloffay commented on #85
I don't think there is a direct way to do it.

What I can think of
* deploy separate jaeger instance in every namespace
* maybe use a tracer tag with namespace

IIRC elasticsearch prefix is not configurable. If it was you could have a collector and query using a prefix for a namespace and use one elasticsearch cluster.

[2018-05-03 13:42] chalvern commented on #84
As what I said, out of memory...
[code]

[2018-05-03 13:51] pavolloffay commented on #84
Then it's environment issue, I will close it. If anything pops up up feel free to reopen.

[2018-05-03 14:00] chalvern commented on #84
Finally, my solution is to add the following ENV config to elasticsearch.yml
[code]

[2018-05-04 02:14] Disturbing commented on #85
Pavol - thanks for the quick response.

   - maybe use a tracer tag with namespace

Regarding the tracer tag, do you have an example you can point me to and
with adding a tag or namespace is it possible to configure jaeger only to
listen to such a tag?

Mad love for your continued support :)

On Thu, May 3, 2018 at 5:28 PM Pavol Loffay <notifications@github.com>
wrote:

[2018-05-04 09:07] pavolloffay commented on #85
It's more like a workaround:
1. set a tracer tag in jaeger client https://github.com/jaegertracing/jaeger-client-java/blob/master/jaeger-core/src/main/java/io/jaegertracing/Tracer.java#L563. For example 'k8s-namespace: project1'
2. Then in the UI use that tag to filter data for the namespace

Although, I am not sure if we support query by tracer tags. cc @yurishkuro

@Disturbing could you please d

[2018-05-07 12:17] jpkrohling commented on #84
I'm reopening this, so that we apply @chalvern's env vars to `elasticsearch.yml`.

[2018-05-08 12:41] jpkrohling commented on #85
@Disturbing what you are describing sounds like a specific scenario of multi-tenancy. We've discussed a couple of variations of multi-tenancy in the past and our current answer is that it's best to achieve by partitioning your deployment. In your case, instead of having N deployments only for the Jaeger UI, you'd have N deployments for the agents/collectors as well, each storing data on a differen

[2018-05-10 11:55] eundoosong opened #86 "Jaeger should use healthcheck for readinessProbe"
Query and standalone currently have readinessProbe using Query port(16686).

Wouldn't it be better using healthcheck port for all components(Collector, Query, Standalone)?
They have their own port for healthcheck.
(Note that Standalone healthcheck is in  [PR](https://github.com/jaegertracing/jaeger/pull/784))

Another question,
Per my understanding, there are 2 probes in kubernetes. livenessProbe

[2018-05-11 11:12] jpkrohling commented on #86
Absolutely. A PR would be welcomed :)

The health check isn't actually checking the health of the component. Instead, we are using it mostly as a "readiness probe", to mark when the component is ready to receive requests (ie: when it has connected to the backend storage/services).

[2018-05-11 12:36] eundoosong commented on #86
Thanks for the clarification.
I'll look into this for kubernetes and openshfit, will PR.

[2018-05-14 03:48] Disturbing commented on #85
@jpkrohling  That's correct - having jaeger/agents/collectors all separate and collecting specific data for the deployment works.

@pavolloffay

The use case is to have 2 or more customers running on a managed kubernetes cluster within their own namespace.

Customer A runs in Namespace A.  They decide to launch a Jaeger and only see their services within their namespace in Jaeger.

Customer B runs

[2018-05-14 08:34] pavolloffay commented on #85
@Disturbing at the moment it's possible to do it only with Cassandra storage. Elasticsearch storage needs this feature https://github.com/jaegertracing/jaeger/issues/799. Any contributions are welcome :).

The configuration will be simple you just pass Elasticsearch index prefix specific to the namespace when starting the collector and query.

[2018-05-14 09:41] jpkrohling commented on #85
Not really, but I would expect the same instructions to work when executed twice, one for each namespace. If there's something not clear via the docs, do let me know and I'll try to fix it.

I'm not sure vanilla Kubernetes can isolate the networking between namespaces, but I would expect this kind of assurance to come from the infra level.

At the application level, you'd just point your sidecar t

[2018-05-15 07:07] Disturbing commented on #85
It looks like the former would be the best in this use case.

Storing all traces into a single Cassandra or ES instance and having the Collector and Query filtering the viewable data via the index will be best.

Do @pavolloffay - Do you mind sharing instructions of where I can find the modifications of the cassandra index to do a proof of concept to make sure we're on the same page?

[2018-05-15 09:01] pavolloffay commented on #85
I don't have detailed instructions. You just have to use different `--cassandra.keyspace` flag for each collector and query. E.g. https://github.com/jaegertracing/jaeger-kubernetes/blob/master/production/configmap.yml#L30

[2018-05-15 09:05] pavolloffay commented on #85
There is also this great blog post https://medium.com/jaegertracing/jaeger-and-multitenancy-99dfa1d49dc0 by @jpkrohling

[2018-05-15 11:11] Disturbing commented on #85
Epic @pavolloffay  Let me take a look at this over the weekend and update relevant info for the community here.

[2018-05-18 18:22] Aergonus opened #88 "Pinned Image Versions"
The deployment versions are lagging behind the released versions three months now. Is there a reason they're pinned to 1.2

[2018-05-19 08:09] jpkrohling commented on #88
No, feel free to submit a PR with the new versions :)

[2018-05-22 13:30] Spellchaser commented on #88
It doesn't seem like a very good/maintainable policy. I'll update the docs too, to specify that new users should check the latest jaeger release version.

I bring this up because the official docs have moved to using `query.base-path` rather than `query.prefix` that's pre 1.3

[2018-05-28 14:08] RouR commented on #74
In case of DaemonSet - How to secure nodePort connections from outside of cluster?
I guess that sidecar is more secure

[2018-05-28 15:12] jpkrohling commented on #74
@RouR that would be part of your deployment architecture and you'd probably have appropriate firewall rules in place.

[2018-06-12 00:33] eroji opened #90 "How do you edit the configmap to enable 6831 UDP?"
I am trying to configure the Jaeger Collector to accept messages on 6831 UDP but there aren't any documentation on this. Can someone please provide some instructions?

[2018-06-12 08:04] jpkrohling commented on #90
The collector accepts only TCP connections, usually having the Jaeger Agent as the client. The Jaeger Agent, however, does accept data via UDP on port 6831, usually having the Jaeger Client (aka, "tracer") as the client.

You can see all the configuration options by passing `--help` to the binary. For the Agent, here are the current options:

[code]

The production template does expose the Agent U

[2018-06-12 15:43] Spellchaser opened #91 "Agent ports"
https://www.jaegertracing.io/docs/deployment/#agent
The yamls are missing the new http port
          - containerPort: 5778
            protocol: TCP

[2018-06-12 15:45] jpkrohling commented on #91
Would you be interested in sending a PR with the fix?

[2018-06-12 16:06] Spellchaser commented on #91
Yeah just later when I manage to finish some high priority items

[2018-06-13 05:34] eroji commented on #90
Thank you for the explanation. I did not have a clear understanding between jaeger-collector and jaeger-agent. However, by default, there isn't a service definition for jaeger-agent. If I want to have application outside of K8s cluster send tracing data to jaeger-agent, I assume I need some sort of service created for it, with either some form of ingress or NodePort type so that it can be directed

[2018-06-16 21:00] Spellchaser opened #94 "Ingress Configuration"
While trying to expose jaeger to a custom base-path, I was running into odd errors. Stuff like can't load resources, everything redirecting to the main landing page with no results, and http parsing errors.

It turns out for some other services, we had the annotation `ingress.kubernetes.io/rewrite-target` set to `/` which threw off all the requests.

So if anyone else searches/runs into this probl

[2018-06-18 20:42] Spellchaser commented on #94
I wasn't sure where to stick it.
I'm don't think many users will encounter this, so adding this to main landing page would make it more cluttered and make things more confusing imo.

[2018-06-18 20:47] Spellchaser commented on #91
Voila! Merged

[2018-06-18 20:47] #91 closed

[2018-06-19 07:24] #88 closed, assigned to nobody

[2018-06-27 20:31] eroji opened #95 "Traces randomly appearing/disappearing from web UI query"
## Problem - what in Jaeger blocks you from solving the requirement?
Traces are randomly appearing and disappearing in the web UI if I try to perform searches for all operations.

## Any open questions to address

I took the production deployment and made some modifications to suit my needs with a Cassandra cluster as the persistent storage. However, for some reason, the traces that are coming fro

[2018-06-28 08:49] jpkrohling commented on #95
Are they really disappearing (not in the database anymore), or are the results just listed in a different order? You can confirm this by loading the page, opening a few tabs with the first results, then reloading the page. Once one of the first results are missing, refresh the tab where that trace was opened. If you can still load the trace, then it's just the order of the results on the first pag

[2018-06-28 19:59] eroji commented on #95
This can be closed. My trying to frankenstein the setup seemed to be the root of the issue. I leveraged the Helm chart and it appears to be working correctly now. Thank you.

[2018-06-28 19:59] #95 closed

[2018-06-29 08:38] jpkrohling commented on #95
Would it be OK for you to share what exactly went wrong? Someone in the future might face the same problem and it would be valuable to them if you share what was wrong and how you fixed it :)

[2018-06-29 10:05] eroji commented on #95
I am not entirely sure what was causing the strange behavior, but I my initial setup was dropped traces. Of the ones Jaeger did receive, they were incomplete in many cases.

[2018-07-02 19:38] tjb3 opened #96 "Collector/Query pods crashloopbackoff due to storage/keyspace issues"
My company is currently in the process of implementing Jaeger solutions for our dev environment, our implementation of the cassandra backed helm chart is exhibiting an issue where our collector and query pods are in consistent `CrashLoopBackoff` state due to `keyspace does not exist` and `no connections were made when creating the session errors.

The cluster was created Friday 06/29/18 on GKE man

[2018-07-03 12:02] tjb3 commented on #96
@pavolloffay I don't have a record of the logs sadly, but `kubectl get jobs` reports that it completed successfully if this is sufficient information:

[code]

I can try and dig the actual job logs out of our es pod if that would be helpful.

[2018-07-03 12:19] jpkrohling commented on #96
@tjb3 the create-schema job is idempotent, so, it's safe to re-run it. If you still get problems after running the job again, it would be worth double checking if you are indeed talking to the appropriate Cassandra cluster.

[2018-07-03 12:59] pavolloffay commented on #96
Cassandra logs should show what keyspaces have been created - it's missing in the provided output.

[2018-07-03 14:22] tjb3 commented on #96
Schema logs from initialization of our node, truncated to remove the `Cassandra is still not up` messages:
[code]

Cassandra logs from initialization
[code]

[2018-07-03 14:31] tjb3 commented on #96
@jpkrohling Rerunning the schema job addressed the issue, i'm able to run our test suite and tracing is visible via the query portal. I can guarantee we're not connecting to another cassandra cluster, our application stack is constrained to a single namespace in an isolated kubernetes cluster and the service endpoints our modules are using all line up as expected.

As the schema job is idempotent

[2018-07-03 14:37] jpkrohling commented on #96
There's no harm, but there's also no reason to do so :-) This job is required to be executed only once during the whole lifecycle of your installation, as it will create the tables and related structure to store the data.

[2018-07-03 14:52] tjb3 commented on #96
@jpkrohling ah i see now, our cassandra datastore doesn't have persistence enabled and as such theres no pv backing. The reschedule killed the pod and we lost the schema, i'll update our charts to account for pod and minion rescheduling. Thanks!

[2018-07-03 15:01] jpkrohling commented on #96
Looks like it's not a problem with Jaeger itself, nor with the Kubernetes templates. I'm therefore closing this issue. If you think there's something to do as a result of this issue, please feel free to reopen it.

[2018-07-03 15:01] #96 closed

[2018-07-11 08:34] jpkrohling commented on #94
I'll close this one, as it it indeed doesn't seem like it would belong to the website. If more users face this specific issue in the future, we could add your finding to a possible "troubleshooting" section.

[2018-07-11 08:34] #94 closed

[2018-07-11 08:35] jpkrohling commented on #90
I'm closing this issue, but if you still have problems, feel free to reopen.

[2018-07-11 08:35] #90 closed

[2018-07-11 08:36] jpkrohling commented on #86
v1.6 has just been published. Is this the right time to work on this issue?

[2018-07-11 08:37] jpkrohling commented on #85
I'm closing this one, but feel free to reopen if you still need assistance.

[2018-07-11 08:37] #85 closed

[2018-07-11 08:38] jpkrohling commented on #84
@chalvern would you be interested in contributing a fix to this?

[2018-07-11 08:49] jpkrohling commented on #6
I think the appropriate place for this would be the main `README.md`, under the `Development setup
` section. Before starting the next section, we could have something like:

cc @PikBot

[2018-07-12 07:54] pavolloffay commented on #84
` -Xms256m -Xmx512m` seems very low for Elasticsearch. For example openshift logging uses 8gb by default

[2018-07-12 07:56] pavolloffay commented on #84
I am also making a pointer do docs for  `bootstrap.memory_lock` https://www.elastic.co/guide/en/elasticsearch/reference/master/setup-configuration-memory.html#bootstrap-memory_lock

[2018-07-12 12:40] eundoosong commented on #86
Ok, I'll work on this.

[2018-07-12 14:21] sergeyklay commented on #51
We have the same issue with docker compose:

[code]

[code]

Collector says:
[code]

[2018-07-12 15:43] chalvern commented on #84
@jpkrohling I worry  the `-Xms256m -Xmx512m` is too low to use in production. just as @pavolloffay mentioned. The yaml of Elasticsearch in production seems actually like in test instead of production.

What I suggest is to take it as test. In production, there should be replica of Elasticsearch or called cluster.

[2018-07-16 14:42] #86 closed

[2018-07-27 00:09] fcrisciani opened #99 "k8s deployment issues"
## Requirement - what kind of business use case are you trying to solve?
deploy jeager

## Problem - what in Jaeger blocks you from solving the requirement?
I tried both the all-in-one as well as the production yaml.
To verify basic health of the service was trying to open the UI but looks like the container is not listening on the port 16686.
I can see a log like:
[code]
does the all-in-one expec

[2018-07-27 01:00] yurishkuro commented on #99
You can ignore the last one, it's normal (although we could improve the logging not to log that on initial connect).

The port:0 for query service is the main issue. Normally this port is defaulted to 16686, you must have something that overrides it via cli flag or env var or config. Maybe you're missing some variable substitution.

[2018-07-27 01:45] fcrisciani commented on #99
@yurishkuro I just deployed like in the docs: `kubectl create -f https://raw.githubusercontent.com/jaegertracing/jaeger-kubernetes/master/all-in-one/jaeger-all-in-one-template.yml` with the only modification to use NodePort instead of Loadbalancer for the service.

And the describe for the deployment does not mention any env variable a part from `COLLECTOR_ZIPKIN_HTTP_PORT`:
[code]
Is there someth

[2018-07-27 01:55] fcrisciani commented on #99
@yurishkuro I was actually lying let me get back to you, I checked the runtime and there is a huge list of env variables related to other services.

[2018-07-27 02:32] fcrisciani commented on #99
ok deploying actually in a different namespace did the trick, going to close this one and will start investigating which env created the problem. Thanks for the help

[2018-07-27 02:32] #99 closed

[2018-07-27 05:01] fcrisciani commented on #99
Just to give closure, I solved specifying the port as a command argument directly in the yaml file" `--query.port <port>`

[2018-08-03 14:57] pavolloffay opened #100 "How to use configmap for sampling strategies"
See https://github.com/jaegertracing/jaeger/issues/970
cc @Yisaer

[2018-08-03 15:15] Yisaer commented on #100
thanks.  @pavolloffay

[2018-08-03 15:27] pavolloffay commented on #100
Here is an example how you can use configmap with jaeger all-in-one https://github.com/pavolloffay/jaeger-kubernetes/commit/1343b07d6a1a302fb6eb9532aebe74f44a4404d5

[code]

[2018-08-03 15:28] pavolloffay commented on #100
The settings looks very or maybe the same as in your config. You can ssh into the container and see if the file is there. Note that we use from cratch you will need something like this https://github.com/kubernetes/contrib/tree/master/scratch-debugger (I had to also add https://github.com/kubernetes/contrib/pull/2904)

[2018-08-04 01:44] Yisaer opened #101 "sampling.strategies doesn't work in all in one image version 1.6"
Hi, I'm using `all-in-one`  docker image version 1.6 and i want to discard some certain services by setting sampling strategies.  Here was my `configration` and i found that jaeger still trace `istio-mixer` and `istio-policy` services.

[code]

[2018-08-04 01:53] Yisaer commented on #100
I found that it only works in `all-in-one` version 1.6, but sampling.strategies doesn't work.
https://github.com/jaegertracing/jaeger-kubernetes/issues/101

[2018-08-09 01:48] #101 closed

[2018-08-13 19:38] sneko opened #102 "Error reading service_names from storage: Cannot achieve consistency level LOCAL_ONE"
Hi!

I just created a Cassandra cluster with an operator (https://github.com/instaclustr/cassandra-operator) and the Cassandra schema job succeeded but when going to the Jaeger Query UI I get the following error:
[code]

I also get this error in the Jaeger Collector logs.

I saw this error in the following issue that seems related:
https://github.com/jaegertracing/jaeger/issues/513

But when addin

[2018-08-14 09:53] jpkrohling commented on #102
I'm not sure we can be of much help here. What we can suggest is to use the Cassandra template we provide in this repository and see if that works in your environment. If it does, then you might want to get help from the operator providers.

https://github.com/jaegertracing/jaeger-kubernetes#backing-storage

[2018-08-14 10:42] pavolloffay commented on #102
@sneko it looks like a C* configuration issue. https://github.com/jaegertracing/jaeger/issues/513#issuecomment-344275159 this might help you.

[2018-08-27 16:58] sneko commented on #102
@jpkrohling I tried to provision a C* datastore with your Helm chart but I get the following error:
```Error: release jaeger failed: StatefulSet.apps "jaeger-cassandra" is invalid: [spec.selector: Required value, spec.template.metadata.labels: Invalid value: map[string]string{"app":"cassandra", "release":"jaeger"}: `selector` does not match template `labels`]```

I looked into charts code but I ca

[2018-08-28 07:48] jpkrohling commented on #102
@sneko the Helm chart is hosted under a different repository. I could try to help you debug it, but it would be better to open an issue there, as I'm not really familiar with its storage setup.

This is the Helm chart repository: https://github.com/helm/charts/tree/master/incubator/jaeger

[2018-08-28 12:29] #6 closed

[2018-08-28 21:40] sneko commented on #102
@jpkrohling just posted the issue:
https://github.com/helm/charts/issues/7407

I close this one since while talking with the C* operator team they told me there could be some issues due to their custom C* image:
https://github.com/instaclustr/cassandra-operator/issues/82#issuecomment-416299477

Thanks for all your answers 😀

[2018-08-28 21:41] #102 closed

[2018-09-03 23:40] sneko commented on #102
@jpkrohling someone else thumbed up my issue on the Helm chart repository, it seems I'm not the only one 😀... Did you have time to dig into it?

Thank you,

[2018-09-04 06:45] jpkrohling commented on #102
I haven't, I've been focused on the [Jaeger Operator](https://github.com/jaegertracing/jaeger-kubernetes) for the last week, but I'm still not sure what I could do to help you there other than ping some people more knowledgeable about the Helm chart.

[2018-09-13 14:52] cushind commented on #94
I had the same error for a different reason when using a custom base path.

[code]

This wasn't working because I was still using `PathPrefixStrip`. Removing this annotation fixed the issue for me.

[2018-10-26 10:38] splnanthakumar opened #107 "how to add my application service to jaeger"
i have installed jaeger which is mentioned in git
[code]
able to see one pod is running
[code]
but my request is not being captured in traces

i did portforwarding 10.3.3.255 . but services shows only 1 "jaeger-query"

Questions:
1. Is there any other config to add my application services to jaeger?

few logs says that as follows:
[code]

[2018-10-29 16:33] pavolloffay commented on #107
@splnanthakumar hi. The app you want to trace has to be instrumented  for example using OpenTracing instrumentation and it has to use jaeger client configured to send data to jaeger server.

I will close this as it is not issue related to k8s deployment.

[2018-10-29 16:33] #107 closed

[2018-10-30 10:18] jpkrohling commented on #107
@splnanthakumar looks like you installed Jaeger in the `jaeger` namespace (`-n jaeger`), but configured your agent to connect to a collector under the `jaeger-infra` namespace (`jaeger-collector.jaeger-infra.svc`).

Try changing the agent to not mention the `namespace.svc` part, referencing only the service name (`jaeger`).

If you still have problems, let us know in our Gitter room: https://gitte

[2018-10-30 13:48] splnanthakumar commented on #107
i have installed jaeger on my default namesapce called "central"
[code]

[2018-10-30 14:18] splnanthakumar commented on #107
the following is the prometheus details :

[code]

[2018-10-30 14:36] splnanthakumar commented on #107
here is my deployment yaml file:

[code]

[2018-10-30 14:55] jpkrohling commented on #107
An earlier comment had an error stating that the agent was trying to contact the collector on a different namespace. Was that fixed? If so, you should see a log entry like the following in your agent container:

[code]

The next step is to check whether the agent is receiving spans, so, turn on the debug logging at the agent and collector by passing `--log-level=debug` to the binary. For your appl

[2018-10-30 15:00] splnanthakumar commented on #107
I have got below logs for jaeger agent:

[code]

[2018-10-30 15:21] splnanthakumar commented on #107
i hope all these env vars   (JAEGER_SAMPLER_TYPE=const,JAEGER_SAMPLER_PARAM=1, JAEGER_REPORTER_LOG_SPANS=true)should be included in signup-deployment.yaml?

[2018-11-08 09:19] jpkrohling commented on #40
Looks like Agung did it already and shared the code on the mailing list:

https://groups.google.com/d/msg/jaeger-tracing/xz5A-e7xTs0/T_tPDP-2AQAJ

[2018-11-14 20:17] JayG-EBSCO opened #108 "Deployment of Jaeger Query 1.7 failing on AWS EKS"
I am working on upgrading our Jaeger deployment on AWS EKS to Jaeger 1.7, and am running into a crashloopbackoff state with Jaeger Query. All other components install correctly.

We are using an Elastic Search back end via the AWS ES service. When the pod attempts to start, it fails, and returns a "Could not create static assets handler","error":"Cannot load index.html" error via kubectl logs. Our

[2018-11-14 21:18] yurishkuro commented on #108
Are you building Jaeger yourself or using official images (btw, 1.8 is out)

We recently changed how the UI assets are distributed, they are now compiled directly into the binary rather than sitting on the file systems and requiring the query service to be pointed to them.

[2018-11-30 10:14] xcl001987 opened #109 "k8s with production setup"
I installed jaeger in k8s with jaeger-production-template.yml，and i used es as backing storage。I got an error when i accessed jaeger-query ui like this：
{"level":"error","ts":1543572053.3459675,"caller":"zap/logger.go:33","msg":"error when flushing the buffer: write udp 127.0.0.1:35535->127.0.0.1:6831: write: connection refused","stacktrace":"github.com/jaegertracing/jaeger/vendor/github.com/uber/

[2018-12-03 08:53] xcl001987 commented on #109
@pavolloffay Thank you for your answer，but i have other problems。I have installed the istio(1.0.3) and deployed jaeger individually  in the following steps：
kubectl create -f https://raw.githubusercontent.com/jaegertracing/jaeger-kubernetes/master/production-elasticsearch/configmap.yml
kubectl create -f https://raw.githubusercontent.com/jaegertracing/jaeger-kubernetes/master/production-elasticsear

[2018-12-03 10:22] pavolloffay commented on #109
In istio you should use jaeger installer which comes with istio that should be supported.

@objectiser might know more.

[2018-12-03 10:32] xcl001987 commented on #109
Because of some reason, I can't install jaeger with istio installer, how can I fix current problems?

[2018-12-03 11:02] objectiser commented on #109
@xcl001987 If my suggestions don't work, the other thing to try is an update to the Istio helm chart which uses the jaeger-operator: https://github.com/istio/istio/pull/9508

This is still being reviewed, but if you have a chance to try it out and provide feedback on that PR, it would be appreciated.

[2018-12-04 03:32] xcl001987 commented on #109
@objectiser thanks guys，I solved it by your second point，I was too careless.
 I have set the sampling value to 100%，it worked fine.

[2018-12-17 19:07] Ravenwater commented on #96
@tjb3 how did you rerun that job?

[2019-01-08 13:55] bgarcial opened #110 "Editing configmap.yml and elasticsearch.yml in order to change password"
## Update elasticsearch default password.

## Problem

I want to implement a jaeger installation with persistent storage using elasticsearch like backend on my Kubernetes cluster on Google cloud platform.

I am using the jaeger kubernetes templates and I start with [elasticsearch production setup](https://github.com/jaegertracing/jaeger-kubernetes#production-setup).

I've downloaded and modified t

[2019-01-10 14:41] bgarcial commented on #110
@pavolloffay What is the best strategic to restart the pod?

have been reading some posts blogs and speak about that, but I haven't clear how to restart the pods, because many sites talk about it depending of the way in that they has been created, and when I delete some pods via kubectl GKE inmediately create other pod with similar characteristics.

Even recommend go to the specific container (s)

[2019-01-15 11:32] jpkrohling commented on #96
@Ravenwater, you can re-create the Kubernetes job. It should have no bad side effects, as the script is meant to be idempotent.

[2019-01-15 20:38] Ravenwater commented on #96
@jpkrohling I deployed the full script multiple times but it continued to fail the same way. What I ended up doing is first run the schema creation job manually, so the schema was present in the cluster, and then deploy the full script. That seemed to have solved the race condition.

[2019-01-16 10:57] bgarcial commented on #110
@jpkrohling I will take it in my mind when I need it.

[2019-01-28 06:16] mmshaikh88 opened #112 "Jaeger query shows error in log"
I am running jaeger with elasticsearch and elasticsearch is running on another VM.

But the jaeger query pod on kubernetes is showing following error in logs:

[code]

[2019-01-28 06:18] mmshaikh88 commented on #112
{"level":"info","ts":1548654412.6662226,"caller":"healthcheck/handler.go:99","msg":"Health Check server started","http-port":14269,"status":"unavailable"}
{"level":"info","ts":1548654412.7456286,"caller":"static/strategy_store.go:77","msg":"No sampling strategies provided, using defaults"}
{"level":"info","ts":1548654412.7764938,"caller":"collector/main.go:141","msg":"Registering metrics handler w

[2019-01-28 08:47] jpkrohling commented on #112
This is the relevant error message:
[code]

This happens because there's no agent at `localhost` available to the query component. This is usually done by adding a `agent` container to the `query` pod. Without it, you won't see spans that are created by the query component itself. If that's not a problem for you, you can ignore the error messages.

If you still need assistance, feel free to reopen

[2019-01-28 14:19] yurishkuro commented on #112
@jpkrohling do you have that sidecar setup for the agent in our k8s templates?

[2019-01-28 14:23] jpkrohling commented on #112
We should, but looks like we don't:

https://github.com/jaegertracing/jaeger-kubernetes/blob/da2225061c4e619c66854e69603b8d5799d55bcc/jaeger-production-template.yml#L129-L139

I think we only have it in the operator. I'll leave this open, to add the sidecar to this template.

[2019-01-28 23:07] mmshaikh88 commented on #112
Configmap for jaeger to connect to elasticsearch running on separate VM as:

`apiVersion: v1
kind: ConfigMap
metadata:
  name: jaeger-configuration
  labels:
    app: jaeger
    jaeger-infra: configuration
data:
  span-storage-type: elasticsearch
  collector: |
    es:
      server-urls: http://10.145.70.97:9200
    collector:
      zipkin:
        http-port: 9411
  query: |
    es:
      server-u

[2019-01-28 23:12] mmshaikh88 commented on #112
Deployed hotrod with sidecar as jaeger-agent

apiVersion: v1
kind: Service
metadata:
  name: example-hotrod
spec:
  ports:
    - name: ui
      port: 8080
      targetPort: 8080
    - name: interface1
      port: 8081
      targetPort: 8081
    - name: interface2
      port: 8082
      targetPort: 8082
    - name: interface3
      port: 8083
      targetPort: 8083
  selector:
    app: example-hotr

[2019-01-29 10:46] jpkrohling commented on #112
Yes, if you want to get the Query traces reported to the collector, or if the error messages are bothering you. If you don't care about the spans generated by the query component, you can just ignore the error messages.

[2019-01-29 13:59] yurishkuro commented on #112
You can also configure the sampling strategy in the collector for the query service to use 0 probability.

[2019-02-28 19:54] gmankes opened #115 "Sidecar example spec using deprecated argument"
## Requirement - what kind of business use case are you trying to solve?

I am attempting to use jaeger tracing to observe into the applications at my company. The attempt is to use the jaeger agent as a sidecar, and send the traces to a collector in a separate namespace.

## Problem - what in Jaeger blocks you from solving the requirement?

The argument provided to the jaeger agent `--collector.h

[2019-03-01 08:43] jpkrohling commented on #115
@pavolloffay shouldn't these options be still recognized? If we broke backwards compatibility here, we need to change the OpenShift templates and Operator as well.

[2019-03-04 09:10] pavolloffay commented on #115
This happens with latest image and it's related to https://github.com/jaegertracing/jaeger/issues/1395#issuecomment-469169209. I have proposed a solution to not break users.

[2019-03-04 09:11] pavolloffay commented on #115
I would rather change the reporter to grpc in our deployments.

[2019-05-10 20:04] naseemkullah commented on #112
Is it possible to configure `query` to talk to an `agent` elsewhere than `localhost`?

e.g. running `agent` as a `daemonset`  with ` useHostPort: true` and have `query` talk to the host directly...

[2019-05-10 21:46] mmshaikh88 commented on #112
As long as the agent with specific IP/Port is reachable from the Pod then yes you can configure it.

[2019-05-10 22:21] naseemkullah commented on #112
Thanks, do you know what the ENV_VAR would be?

[2019-05-10 23:32] mmshaikh88 commented on #112
Which  ENV_VAR? Can you please clarify and elaborate a bit more?

[2019-05-10 23:55] naseemkullah commented on #112
You mentioned we could configure it so I presumed there would be an environment variable for query to get query to talk to an agent that is not on local host.

[2019-05-24 13:52] jpkrohling commented on #112
I don't think there's a way to customize the agent location for query. See #1044.

[2019-05-30 10:42] naseemkullah commented on #112
Hi @jpkrohling can you please confirm if we stil’ Need to add a agent sidecar to query in version 1.12 of jaeger? If so I will add it to the helm chart for jaeger via https://github.com/helm/charts/pull/13693#issuecomment-497203652

[2019-06-03 08:58] jpkrohling commented on #112
@naseemkullah: yes, in order to have spans generated at the query component to reach the collector, it needs the agent as sidecar.

[2019-06-03 12:17] naseemkullah commented on #112
Thank you for confirming @jpkrohling , an optional agent sidecar for query has been added to the jaeger helm chart.

[2019-06-24 12:39] kargencW opened #118 "Docker for Windows with Kubernetes (all-in-one) jaeger not working"
kubernetes pod has a failed connect message while starting like

[code]

 my c# client api can't send a trace, with kubernetes(all-in-one),  haven't any problem with
[code]

My deployment description is
[code]

[2019-06-24 12:44] jpkrohling commented on #118
How are you creating your deployment? Are you using the Kubernetes template? Apparently, you are not exposing the gRPC port `14250`.

[2019-06-24 12:47] jpkrohling commented on #118
Could you please try to add the port `14250` to this list of ports:

https://github.com/jaegertracing/jaeger-kubernetes/blob/bcca10c297b38c01d9d7c554172572ffa11944ce/all-in-one/jaeger-all-in-one-template.yml#L46-L58

If it works, it would be great if you could send a PR fixing that, as well as the production template:

https://github.com/jaegertracing/jaeger-kubernetes/blob/bcca10c297b38c01d9d7c55

[2019-06-24 13:35] kargencW commented on #118
thnk u very quick response, is 14250 TCP port?

[2019-06-24 13:49] jpkrohling commented on #118
Yes, it's a TCP port.

[2019-06-24 14:08] kargencW commented on #118
- containerPort: 5775
                  protocol: UDP
                - containerPort: 6831
                  protocol: UDP
                - containerPort: 6832
                  protocol: UDP
                - containerPort: 5778
                  protocol: TCP
                - containerPort: 16686
                  protocol: TCP
                - containerPort: 9411
                  protocol:

[2019-06-24 15:45] jpkrohling commented on #118
It actually looks alright:

[code]

Are you seeing errors in the client?

[2019-06-24 16:01] kargencW commented on #118
`info: Jaeger.Configuration[0]
      Initialized Tracer(ServiceName=hello - world, Version=CSharp-0.3.2.0, Reporter=CompositeReporter(Reporters=RemoteReporter(Sender=UdpSender(UdpTransport=ThriftUdpClientTransport(Client=127.0.0.1:6831))), LoggingReporter(Logger=Microsoft.Extensions.Logging.Logger`1[Jaeger.Reporters.LoggingReporter])), Sampler=ConstSampler(True), IPv4=167791361, Tags=[jaeger.versi

[2019-06-25 15:56] jpkrohling commented on #118
Are you deploying the agent as a sidecar to your application's `Deployment`? Your logs are showing that spans are being sent to `127.0.0.1`, implying that you either are using a sidecar, or missing the agent's hostname. See the README's section [Jaeger components](https://github.com/jaegertracing/jaeger-kubernetes#jaeger-components) and the one right after that, [Deploying the agent as sidecar](ht

[2019-06-26 06:43] kargencW commented on #118
when i run docker with this command and same client app working well
`docker run -d --name jaeger -e COLLECTOR_ZIPKIN_HTTP_PORT=9411 -p 5775:5775/udp -p 6831:6831/udp -p 6832:6832/udp -p 5778:5778 -p 16686:16686 -p 14268:14268 -p 9411:9411 jaegertracing/all-in-one:latest`
but with kubernates, same client app seems send trace in logs but actually not
`kubectl create -f https://raw.githubusercontent

[2019-06-26 06:46] jpkrohling commented on #118
Your Docker command is executed at your main host and exposes a port to `localhost`. Kubernetes is in a totally different network, and your application's pod isn't in the `localhost` of Jaeger's pod. Please, refer to the README for details on how to set the agent's hostname.

I'm closing this, as it's clear that it's a networking setting in your setup.

[2019-06-26 06:46] #118 closed

[2019-08-25 21:02] dolimoon6000 opened #119 "Collector and Query pods stuck with status CrashLoopBackOff after running helm install"
I am trying to install Jaeger (incubator/jaeger via helm hub) onto my local kubenetes installation which runs on minikube.

When I run the helm install command:
[code]
I notice that the collector and query pods are stuck in CrashLoopBackOff status.

I checked the logs on the pods. They are as follows:

Collector:

[code]

Query:

[code]

I am unable to run Jaeger on my local development machine.

[2019-08-26 07:14] jpkrohling commented on #119
Jaeger is complaining that it can't connect to the Cassandra cluster. Where is your Cassandra cluster located? You'll need to specify it in your helm chart properties.

[2019-08-26 08:23] dolimoon6000 commented on #119
I have 3 new Cassandra pods created and running as part of the Helm release. Here is the output of running  `helm status jaeger`.

[code]

[2019-08-26 08:56] jpkrohling commented on #119
Could you show more info about your collector/query deployments? Like, `kubectl describe deployments jaeger-collector`. The logs from the cronjob might also be helpful to diagnose what's going on (`jaeger-cassandra-schema`), as it looks like it didn't complete. This cronjob is the one that creates the indexes.

You can also just retry the cronjob, as the Cassandra cluster seem to be up and running

[2019-08-26 12:50] dolimoon6000 commented on #119
Thanks @jpkrohling! All I had to do was redo the `jaeger-cassandra-schema` job as you suggested. Once it completed, the Query and Collector pods were able to start successfully.

[2019-08-26 12:50] #119 closed

[2019-10-10 07:26] boyoyon8 opened #120 "The Deployment "jaeger" is invalid (failed kubectl create all-in-one)"
## Requirement - what kind of business use case are you trying to solve?

[code]
in
[code]

## Problem - what in Jaeger blocks you from solving the requirement?

appear this message & jaeger-query not access on browser
[code]

## Proposal - what do you suggest to solve the problem or improve the existing situation?

Change the yml according to [ kubernates 1.16 api ](https://kubernetes.io/blog/201

[2019-10-10 07:49] jpkrohling commented on #120
@boyoyon8 would you be open to sending your recommended change as a PR?

[2019-10-17 06:22] Icedroid commented on #33
meet the same problem:
`
WARN  [main] 2019-10-17 06:00:47,228 DatabaseDescriptor.java:474 - Small commitlog volume detected at /var/lib/cassandra/commitlog; setting commitlog_total_space_in_mb to 2142.  You can override this in cassandra.yaml
WARN  [main] 2019-10-17 06:00:47,229 DatabaseDescriptor.java:501 - Small cdc volume detected at /var/lib/cassandra/cdc_raw; setting cdc_total_space_in_mb to

[2019-12-01 15:44] naseemkullah commented on #100
In case you are using helm (another CNCF project) once this is merged you can use it https://github.com/helm/charts/pull/19277/files

[2019-12-03 10:21] pavolloffay commented on #100
I am closing this one please use the operator to configure config jaeger in k8s.

[2019-12-03 10:21] #100 closed

[2020-01-08 10:57] yarjunrao opened #124 "grpc: Server.Serve failed to create ServerTransport"
## Requirement - what kind of business use case are you trying to solve?
I am installed in Kubernetes and i am sending data in java through grpc request

## Problem - what in Jaeger blocks you from solving the requirement?
grpc: Server.Serve failed to create ServerTransport

## Proposal - what do you suggest to solve the problem or improve the existing situation?

## Any open questions to address

[2020-01-09 16:15] jgehrcke commented on #32
@jpkrohling We just had a case where the said job failed and was not rescheduled.

[code]

[code]

No logs to share yet from the failed job, sorry, they might be gone.
But in that case we certainly want to reschedule the job, too, right?

[2020-01-09 16:17] jpkrohling commented on #32
The schema job is idempotent, so, it can be safely rescheduled.

[2020-01-09 16:21] jgehrcke commented on #32
Thanks for the quick reply @jpkrohling -- yes, we did that manually. But is there something we can do in this project here to make this happen automatically? Why did was `restartPolicy: OnFailure` not sufficient in this case? :-).

[2020-01-10 09:01] jpkrohling commented on #32
I guess that's indeed the key question. I would *guess* that `OnFailure` means when the container exits with a non-zero return code, which isn't the case here. A quick look at the docs yields no confirmation on that, though. If you'd be willing to help, could you try to confirm this theory?

[2020-01-10 13:19] jgehrcke commented on #32
Still rather new to Kubernetes, but I was reading up on the topic.

The following resources show that the topic of job termination underwent quite some evolution: https://github.com/kubernetes/kubernetes/issues/39578
https://github.com/kubernetes/kubernetes/issues/30243
https://github.com/kubernetes/enhancements/issues/298
https://github.com/kubernetes/community/pull/583/files
https://kubernetes.i

[2020-01-10 13:41] jgehrcke commented on #32
Worth considering:

- With job `.spec.template.spec.restartPolicy = "OnFailure"` the Pod stays on the node, but the container is re-run if schema creation fails.
- With job `.spec.template.spec.restartPolicy = "Never"` if schema creation fails then the container crashes the entire pod and then the Job controller starts a new Pod.

To me it seems the latter might even be more robust in this case he

[2020-01-10 14:02] jpkrohling commented on #32
Thanks for your detective work, @jgehrcke!

Agree, but wouldn't you say, though, that a job that has been running for 24h is in a critical state and needs to be killed? It should certainly be retried, but how do we give up on a specific execution and start a new one? If we just remove `activeDeadlineSeconds`, wouldn't it just hang indefinitely in case it faces a deadlock?

[2020-01-10 14:15] jgehrcke commented on #32
:male_detective: :-)

Looks like my detective work pays off here, too.. I am really brand new to Kubernetes, but I have found this in the docs for jobs:

Sounds like we want to set a deadline on the *pod* itself (and not on the job) to make sure that things are actually retried (whereas the job itself manages the retries).

If you feel better doing so I can try adding this to the PR, or maybe we w

[2020-01-10 14:23] jpkrohling commented on #32
Just to confirm my understanding then: are you saying that if `activeDeadlineSeconds` is set at the `PodSpec` level, the pod will get killed and a new pod will be created, without failing the whole job? That sounds exactly what we need, then.

[2020-01-10 14:33] jgehrcke commented on #32
Yes.

Now it all makes a lot of sense. "Run to completion" seems to be the main purpose of jobs... "Run to Completion" is in the title of https://kubernetes.io/docs/concepts/workloads/controllers/jobs-run-to-completion

How is "Run to Completion" achieved? It's a little buried in the docs, but I think the key mechanism really is **"When a Pod fails, then the Job controller starts a new Pod"**. Sim

[2020-01-10 14:42] jpkrohling commented on #32
It seems appropriate then to have at both places: in the pod with a 2-minute deadline, and on the job with a really high value (1d?). We certainly don't want to keep retrying executions if we can't get a single clean completion in a whole day, right?

[2020-01-10 15:08] jgehrcke commented on #32
I know where you come from. But the exact motivation behind such a high timeout value is a little hard to put into words. And that is a sign for unnecessary complexity.

I am not sure about that. Let's say after a day the job did not succeed. This could manifest in one of two ways:

1) the job is in failed state because of `activeDeadlineSeconds` set to 1 day
2) the job did simply not yet succeed

[2020-01-10 16:44] jgehrcke commented on #32
I think one point of view is: it's nice to at some point see a clear, explicit *failed* somewhere -- so that its' easy to discover which part of the system does not behave as expected.

I choose to not care too much :) Happy to add a short `activeDeadlineSeconds` for the pod, and a long `activeDeadlineSeconds` for the job.

[2020-01-10 16:45] jpkrohling commented on #32
Having an upper bound on what's acceptable helps people not familiar with Jaeger to determine whether something is "still working", or if it's broken. If a schema job can't finish after 1 day worth of retries, then something is definitely wrong.

[2020-01-10 22:44] huikang opened #126 "all-in-one k8s deployment: unused port"
The following service ports are not exposed in the deployment. Is this a mistake?

https://github.com/jaegertracing/jaeger-kubernetes/blob/bcca10c297b38c01d9d7c554172572ffa11944ce/all-in-one/jaeger-all-in-one-template.yml#L92-L99

[2020-01-13 15:56] jgehrcke commented on #32
I have updated #125 with that!

[2020-02-04 19:42] itisdeep opened #128 "Setting index.mapper.dynamic was removed after version 6.0.0"
I am running Jaeger on Kubernetes and configured Zipkin plugin on KONG. My elasticsearch version is 7.5.1.

My elasticsearch is running on a host (not a container). I can see the logs coming from kong to jaeger collector but it is not able to create index in elasticsearch. Below is what I get in the logs.

{"level":"error","ts":1580844869.3288574,"caller":"app/span_processor.go:102","msg":"Failed

[2020-02-05 08:37] pavolloffay commented on #128
Elasticsearch 7 support was added in Jaeger 1.14.0 https://github.com/jaegertracing/jaeger/blob/master/CHANGELOG.md#1140-2019-09-02. Try upgrading Jaeger to a newer version to resolve this issue.

[2020-02-05 08:37] #128 closed

[2020-02-05 10:17] itisdeep commented on #128
@pavolloffay
I am already using image 1.16, do I need to use specifically 1.14.0 version to take care of this issue?

[2020-02-05 12:09] itisdeep commented on #128
I used version 1.14.0 images and it is working now. Thanks for the help

[2020-02-05 12:18] pavolloffay commented on #128
Any version higher than 1.14 should work.

[2020-02-06 12:28] Dean-Coakley commented on #120
I am experiencing this issue too. Any updates @fredrikssongustav ?

[2020-02-06 13:25] jpkrohling commented on #120
@fredrikssongustav, if you are stuck, let us know and we can try to help!

[2020-02-06 14:02] fredrikssongustav commented on #120
@jpkrohling I got kinda stuck on it. Or well, I was able to run the build successfully in minikube by running the commands in bash that travisci goes through here https://travis-ci.org/jaegertracing/jaeger-kubernetes/jobs/625339244?utm_medium=notification&utm_source=github_status and concluded something was fishy about travis. And frankly, I was able to apply the necessary configurations from my f

[2020-02-06 14:30] jpkrohling commented on #120
That specific job is failing due to formatting problems:

[code]

This one can be fixed with `mvn license:format`.

[2020-02-06 15:10] Dean-Coakley commented on #120
Would love to get this resolved as it breaks our Opentracing example for most users: https://github.com/nginxinc/kubernetes-ingress/tree/master/examples/opentracing#step-2---deploy-a-tracer

Happy to try opening a PR sometime next week if not resolved. - I'm not very knowledgable about TravisCI either though. 😄

[2020-02-07 09:29] jpkrohling commented on #120
No need to be a Travis expert: with a local `minikube`, you should be able to perform `./mvnw clean verify -Pall-in-one`. If it passes, chances are high that CI will pass.

[2020-02-11 15:26] Dean-Coakley commented on #120
@jpkrohling On my minikube when running `./mvnw clean verify -Pall-in-one` I get:

[code]

¯\_(ツ)_/¯

[2020-02-11 16:08] fredrikssongustav commented on #120
I got the same when running it locally. Travis logs:

https://travis-ci.org/jaegertracing/jaeger-kubernetes/builds/648069187?utm_medium=notification&utm_source=github_status

[2020-02-12 11:29] jpkrohling commented on #120
I got a different one when running locally:

[code]

@pavolloffay: have you seen this before? Looks like the Arquillian tests are failing both on master and for this PR.

[2020-02-18 14:40] M-Rushabh commented on #107
@pavolloffay  I need help with jaeger configurring with my application can you please help me with that

[2020-02-19 06:05] pawarvijay commented on #108
**Thanks guyz It's working after removing static files line**
[code]

[2020-02-27 11:27] vx610sky opened #129 "Not support elasticsearch 6.0+"
## Requirement - what kind of business use case are you trying to solve?

## Problem - what in Jaeger blocks you from solving the requirement?

## Proposal - what do you suggest to solve the problem or improve the existing situation?

## Any open questions to address

![image](https://user-images.githubusercontent.com/17560081/75440688-31e13d00-5997-11ea-99fd-2bb1a6c8c212.png)

[2020-02-27 12:32] pavolloffay commented on #129
Jaeger supports all ES version: 5x, 6x and 7x. Try to upgrade Jaeger. If the issue will be still present open it in the main repository with full jaeger logs and Jaeger configuration.

[2020-02-27 12:32] #129 closed

[2020-03-18 14:55] Dean-Coakley commented on #120
@pavolloffay ping. 😬

Sounds like the `all-in-one` test is failing on master, which is preventing the merge of this PR.
Can you take a look? Any suggestions?

[2020-03-18 15:48] pavolloffay commented on #120
Were you able to run the test locally?

[2020-03-19 13:35] Dean-Coakley commented on #120
Running `./mvnw clean verify -Pall-in-one` locally gives me:
[code]

Currently testing against master.

I'm not sure if that is helpful. Or if that's what you meant.

[2020-03-23 07:30] rajputvishwas opened #130 "all-in-one deployment - do not create pod"
## Requirement - what kind of business use case are you trying to solve?
I just want to deploy jaeger all-in-one using all-in-one template for kubenetes

## Problem - what in Jaeger blocks you from solving the requirement?
It creates services but not able to deploy pod.

[jaeger-all-in-one-template.zip](https://github.com/jaegertracing/jaeger-kubernetes/files/4367794/jaeger-all-in-one-template.zip

[2020-03-29 05:24] raz08 opened #131 "Is there any config to add prefix or suffix to jaeger-span index?"
Want to add cluster name or application name to the jager-span index. This will help in rollover of index which is specific to application or cluster.

[2020-03-30 09:25] pavolloffay commented on #131
You can configure it by setting `--es.index-prefix` and a similar flag for archive storage. Refer to docs for more information

[2020-03-30 09:25] #131 closed

[2020-04-10 14:26] Rulox commented on #120
@pavolloffay any update on this?

[2020-04-14 16:01] chukynax commented on #94
Better guys you add this somewhere, half a day was thrown ) thx it is here

[2020-04-15 06:37] ganeshgowtham commented on #124
{"level":"warn","ts":1586890755.9689198,"caller":"grpc@v1.27.1/server.go:669","msg":"grpc: Server.Serve failed to create ServerTransport: connection error: desc = \"transport: http2Server.HandleStreams received bogus greeting from client: \\\"GET / HTTP/1.1\\\\r\\\\nHost: lo\\\"\"","system":"grpc","grpc_log":true}

{"level":"warn","ts":1586890756.1189811,"caller":"grpc@v1.27.1/server.go:669","msg"

[2020-04-23 15:54] sssilver commented on #130
Having the same issue.

[2020-05-12 12:55] talr1 opened #135 "all-in-one is extremely slow"
## Requirement - what kind of business use case are you trying to solve?

work with jaeger locally and in Kubernetes

## Problem - what in Jaeger blocks you from solving the requirement?

using the all-in-one deployment locally in docker-compose and also in k8s cluster is extremely slow.
i have 5 NodeJS micro-services instrumented with opentracing and jaeger reporting spans to jaeger all-in-one. a